* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b853a;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    color: white;
}

nav {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 5px;
    border-bottom: 1px solid #ffffff; 
}

a:hover {
    text-decoration: underline;  
}

main {
    padding: 20px;
}

.cairon-foto > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #918b8b;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #1b853a;;
}

.info > p {
    padding: 0px;
    margin: 10px;   
}

.hobbies li {
    padding: 0px;
    margin: 10px;
}

.exp li {
    padding: 0px;
    margin: 10px;
}

.cursos li {
    padding: 0px;
    margin: 10px;
}

footer {
    background-color: #1b853a;;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #ccc;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
