body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

nav {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 5px;
    border-bottom: 1px solid #000000;
    
}

a:hover {
    text-decoration: underline;
    
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
}

footer {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #ccc;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
